<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>This is about page</title>

</head>
<body>
<section>
    <div class="card me-2 ms-1">
        <div class="cord-body text-center">
            <h2 class="header1color">Your Contact</h2>
            <!--search-->
            <div class="container d-flex justify-content-between">
            <div class="search-container m-1 col-lg-2">
                <input onkeyup="search()" id="search-input" class="form-control" type="search" placeholder="Search" aria-label="Search">
                <!--<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="Search your contacts"/>-->
                <div  class="search-result">
                </div>
            </div>
            <div>
                <a th:href="@{'/user/excel/'}" class="btn btn-success"  title="Detail">Export to Excel</a>
            </div>
            </div>
            <div class="table-responsive">
            <table class="table table-hover" style="font: menu;">
                <thead >
                <tr class="headercolor">
                    <th class="headercolor" scope="col">ID</th>
                    <th class="headercolor"  scope="col">Name</th>
                    <th class="headercolor" scope="col">Email</th>
                    <th class="headercolor" scope="col">Phone</th>
                    <th class="headercolor" scope="col">Action</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="c :${contacts}">
                    <td scope="row" th:text="${'SCM'+c.cId}"></td>
                    <td align="left" >
                        <img id="profileImg" class="my_profile_picture img-zoom" src="" th:src="@{'/image/'+${c.image}}" alt="profile photo">
                        <span th:text="${c.name}"></span></td>
                    <td align="left" >
                        <a href="" th:href="@{'/user/'+${c.cId}+'/contact/'}">
                        <span th:text="${c.email}"></span></a>
                    </td>
                    <td th:text="${c.phone}"></td>
                    <td >
                        <div style="display: flex; justify-content: center;align-items: center;">
                            <form method="post" th:action="@{'/user/update-contact/'+${c.cId}}">
                                <button type="submit" class="btn btn-primary" style="margin-left:2px; height: 25px; width: 25px;display: flex;justify-content: center;align-items: center; ;border-radius: 50%" title="Edit"><i class="bi bi-pencil"></i></button>
                            </form>
                            <div>
                                <a th:href="@{'/user/'+${c.cId}+'/contact/'}" class="btn btn-success" style="margin-left:2px; height: 25px; width: 25px;display: flex;justify-content: center;align-items: center; ;border-radius: 50%" title="Detail"><i class="bi bi-eye"></i></a>
                            </div>
                            <div>
                                <a th:href="@{'/user/delete/'+${c.cId}}" class="btn btn-danger" style="margin-left:2px; height: 25px; width: 25px;display: flex;justify-content: center;align-items: center; " title="Delete"> <!--onclick="myFunction()"--><i class="bi bi-trash"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>

            <!--Pagination-->
            <nav aria-label="Page navigation example" class="me-5">
                <ul class="pagination justify-content-end">
                    <li th:if="${currentPage!=0}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage-1}}" class="page-link" href="#" tabindex="-1">Previous</a></li>

                    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i : ${#numbers.sequence(1, totalPages)}" class="page-item"><a th:href="@{'/user/show-contacts/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>

                    <li th:if="${currentPage+1!=totalPages}" class="page-item"><a th:href="@{'/user/show-contacts/'+${currentPage+1}}" class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>
        // function viewactive(){
        //     $('#view-link').addClass('active');
        //     console.log("view checking")
        // }
        $(document).ready(()=>{
            $('.item').removeClass('active');
            $('#view-link').addClass('active');
        })

    </script>
</section>
</body>
</html>