body{
    background: #e2e2e2!important;
}

.bg-primery{
    background: url("https://cemhri.org/wp-content/uploads/2018/04/Home-Four-Banner-Background-Image.png");
}
.banner{
    width: 100%;
    height: 93vh;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)), url("https://img.freepik.com/free-photo/smiling-woman-headset-presentation-something_329181-11710.jpg?w=740&t=st=1701862489~exp=1701863089~hmac=1ff1dc3d99772828bcaabb29654e0b238f53beb20f2be14a0ddcbbaafc36ac9f");
    background-size: cover;
    color: white;
}
.my-card{
    padding: 20px;
    background: white;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.btn-google {
    color: white !important;
    background-color: #ea4335;
}

.btn-facebook {
    color: white !important;
    background-color: #3b5998;
}

/*For Sidebar*/
@media only screen and (width: 600px) {
    .sidebar{
        display: none;
        width: 80% !important;
        background: white;
        height: 100vh;
        position: fixed;
        padding-top: 20px;
    }

    .content{
        margin-left: 0% !important;
    }
}

.sidebar{
    width: 18%;
    background: white;
    height: 100%;
    position: fixed;
    padding-top: 45px;
}

.sidebarr{
    width: 3%;
    background: white;
    height: 100%;
    position: fixed;
    padding-top: 45px;
}
.sidebarr a{
    display: block;
    width: 100%;
    padding: 10px 10px;
    text-decoration: none;
    color: gray;
}

.sidebar a{
    display: block;
    width: 100%;
    padding: 10px 25px;
    text-decoration: none;
    color: gray;
}

.sidebar a:hover{
    background: #e2e2e2;
}

.sidebar .divider{
    height: 0.5px;
    width: 100%;
    background: #e2e2e2;
}

/*for Content*/

.content{
margin-left: 20%;
}

.sidebar .crosBtn{
    position: absolute;
    top: 0px;
    right: 35px;
    font-size: 36px;
    cursor: pointer;
}