<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>This is signup page</title>
</head>
<body>
<section>
   <div class="container">
       <div class="row">
           <div class="col-md-6 offset-md-3">
                <div class="my-card mt-2">
                    <div class="container text-center">
                        <img width="50px" src="" th:src="@{/image/machine.png}">
                    </div>
                    <h4 class="text-center">Register Here !!</h4>
                    <form action="" th:action="@{/do_register}" method="post" th:object="${user}">
                        <!--Name field-->
                        <div class="form-group mt-2">
                            <label for="name_field">Your Name</label>
                            <input name="name" type="text" class="form-control" id="name_field" th:value="${user.name}" aria-describedby="emailHelp" placeholder="Enter Here" required>
                        </div>

                        <!--email field-->
                        <div class="form-group mt-2">
                            <label for="email_field">Your Email</label>
                            <input name="email" type="email" class="form-control" id="email_field" th:value="${user.email}" aria-describedby="emailHelp" placeholder="Enter Here" required>
                        </div>

                        <!--password field-->
                        <div class="form-group mt-2">
                            <label for="email_field">Your Password</label>
                            <input name="password" type="password" class="form-control " id="password_field" aria-describedby="emailHelp" placeholder="Enter Here" required>
                        </div>
                        <div class="form-group mt-2">
                            <textarea name="about" th:value="${user.about}" placeholder="Enter something yourself" rows="4" class="form-control mt-2"></textarea>
                        </div>
                        <!--term and condition agriment-->
                        <div class="form-group form-check">
                            <input type="checkbox" name="agreement" id="agreement" class="form-check-input">
                            <label for="agreement">Accept term and conditions</label>
                        </div>
                        <div class="container text-center">
                            <button class="btn btn-outline-success btn-block  mt-2" type="submit">Submit</button>
                            <button type="reset" class="btn btn-warning btn-block mt-2" >Reset</button>
                        </div>
                    </form>
                </div>
           </div>
       </div>
   </div>
</section>

</body>
</html>